* {
    font-size:20px;
}
.main {
    margin: 30px;
    padding: 0px 30px 30px 30px;
    border: 1px solid #333333;
    border-radius: 10px;
}

header{
    font-size:100px;
}

.plus_button {
    width: 30px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 30px;
    font-weight: bold;
}
.minus_button {
    width: 30px;
    color: #fff;
    background-color: #eb6100;
    display: none;
    border-radius: 30px;
    font-weight:bold;
}
.komidashi {
    display:none;
}
.alert_msg {
    display:none;
    color:red;
}
.left {
    float:left;
}
