.main {
    margin:10px;
    padding:10px;
    border: 1px solid #333333;
    border-radius: 10px;
    
}
input[type='text'] {
    font-size: 16px;
    transform: scale(0.8);
}
.plus_button {
    width: 30px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 30px;
    font-weight: bold;
}
.minus_button {
    width: 30px;
    color: #fff;
    background-color: #eb6100;
    display: none;
    border-radius: 30px;
    font-weight:bold;
}
.komidashi {
    display:none;
}
.alert_msg {
    display:none;
    color:red;
}
.left {
    float:left;
}
