<% if(val != ''){%>
<% var obj = JSON.parse(val);%>
<tr>
	<td name="mark"style="width:20px;border:none;font-size:30px" memo="<%=obj.memo_flg%>">★</td>
	<th style="width:200px;">
		<%= obj.name%>
		<br />
		<span style="color:palevioletred;font-size:15px;"><%= obj.date%></span>
	</th>
	<td><%- obj.naiyo%></td>
	<td></td>
</tr>
<%}%>