<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/jquery.blockUI.js"></script>
	<script>
          $(document).ready(function(){
            $(".plus_button").click(function(){
                var $div = $(this).closest("div");
                $div.find("div.komidashi").show();
                $div.find(".minus_button").show();
                $(this).hide();
            });

            $(".minus_button").click(function(){
                var $div = $(this).closest("div");
                $div.find("div.komidashi").hide();
                $div.find(".plus_button").show();
                $(this).hide();
            });
            $("#buttonUpdate").click(function () {
				updateCategory();
            });
        });


		function updateCategory() {
			load("データ更新中...");

			if ($.trim($("#textMemo").val()) == "") {
				$("#spanUpdateErr").show();
				$("#spanUpdateErr").text("(#ﾟДﾟ) <ﾀﾞﾒｯｯ!!");
				$.unblockUI();
				return false;
			}

			$.ajax({
				url: '/categoryList',
				method: 'post',
				data: {
					mode: "updateCategory",
					naiyo: $("#textMemo").val()
				},
				success: function (data) {
					if (data["result"] == "NG") {
						alert("No...");
					} else {
						load("(´ω`)おけ...ページ更新中...");
						location.href = location.href;
					}
					$.unblockUI();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert('error!!!');
					console.log("XMLHttpRequest : " + XMLHttpRequest.status);
					console.log("textStatus     : " + textStatus);
					console.log("errorThrown    : " + errorThrown.message);
					$.unblockUI();
				}
			});
		}
		function load(msg) {
			$("#div_msg").text(msg);
			$.blockUI({ message: $('#div_msg') });
		}
	</script>
</head>
<body style="margin:15px;">
	<h1><%= title %></h1>
	<img src="/pic/<%=picPath%>" alt="" title="" style="position:absolute;top:0px;right:0px;width:300px;height:300px;" />
	<form>
		<div class="" style="margin-top:20px">
			<div>
				<input type="button" value="+" class="plus_button">
				<input type="button" value="-" class="minus_button">
				<div class="komidashi">
					<ul>
						<li>ど</li>
						<li>こ</li>
						<li>も</li>
					</ul>
				</div>
			</div><!--ここまで-->

			<div>
				<div style="display:flex">
					<div style=" flex:1;">
						<textarea id="textMemo" rows="4" cols="40" placeholder="ヾ(*｀Д´*)ノ < ｶｹｰｯ"></textarea>
						<br /><input type="button" id="buttonUpdate" value="登録" /><span id="spanUpdateErr" class="alert_msg"></span>
					</div>
					<div style=" flex:2;">

					</div>
				</div>
				<table class="table">
					<% for(var i in data){%>
					<%- include('../data_template/category_list', {val:data[i]})%>
					<%}%>
				</table>
			</div>
		</div>
		<div id="div_msg" style="display:none">
		</div>
	</form>
</body>
</html>
