<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;">
    <meta name="viewport" content="user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {
            $("#buttonLogin").click(function () {
                checkPass();
            });
        });

        function checkPass() {
            $.ajax({
                url: '/login',
                method: 'post',
                data: {
                    id: $("#textId").val(),
                    pass: $("#textPass").val(),
                    mode: "loginCheck"
                },
                dataType: 'json',
                success: function (data) {
                    if (data["result"] == "NG") {
                        var $ele = $(".alert_msg");
                        $ele.show();
                        $ele.text(data["msg_face"]);
                    } else {
                        load(data["msg_face"]);
                        location.href = "/categoryList";
                    }
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('error!!!');
                    console.log("XMLHttpRequest : " + XMLHttpRequest.status);
                    console.log("textStatus     : " + textStatus);
                    console.log("errorThrown    : " + errorThrown.message);
                    $.unblockUI();
                }
            });
        }

        function check() {

        }

        function load(msg) {
            $("#div_msg").text(msg);
            $.blockUI({ message: $('#div_msg') });
        }
    </script>
</head>

<body >
   <div class="main" style="display: flex;width:800px;">
       <div style="flex:1;margin:0px 0px 0px 0px;">
           <header style="width:450px;">
               Login
           </header>

           <div class="" style="margin-bottom:10px">
               <div class="alert_msg">

               </div>
               <table>
                   <tr>
                       <td>
                           <input type="text" id="textId" class="" placeholder="ID" style="width:450px;height:60px;font-size:45px;">
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <input type="text" id="textPass" class="" placeholder="PASSWORD" style="width:450px;height:60px;font-size:45px;">
                       </td>
                   </tr>
               </table>
           </div>
           <button id="buttonLogin" onclick="load('チェック中...');" class="btn btn-primary">送信</button>
       </div>
        <div style="flex:2;">
            <img src="/pic/eriNo.jpg" alt="" title="" style="width:300px;height:300px"/>
        </div>
    </div>
    <div id="div_msg" style="display:none">
    </div>
</body>
</html>