<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;">
    <meta name="viewport" content="user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>

    <script>
        const errNum = 2;
        $(document).ready(function () {
            if ("<%=hideInput%>" == "1") {
                $("#second_login").show();
            }else {
                $("#first_login").show();
				$("#box").css("display","flex");
            }
            $("#buttonLogin").click(function () {
                checkPass();
            });
            $("#hontai").draggable({
                stop: function (e, ui) {
                    var pos = $(this).position();
                    var posTarget = $("#target").position();
                    if (pos.top >= posTarget.top * 1 - errNum && pos.top <= posTarget.top * 1 + errNum && pos.left >= posTarget.left * 1 - errNum && pos.left <= posTarget.left * 1 + errNum) {
                        $("#msg").text("おかえり");
						setTimeout(moveTalk, 500);
                    } else {
						$("#msg").text("かえってきなさい");
                    }
                },
                start: function (event, ui) {
					var pos = $(this).position();
					var posTarget = $("#target").position();
                    if (pos.top <= posTarget.top * 1 - errNum || pos.top >= posTarget.top * 1 + errNum || pos.left <= posTarget.left * 1 - errNum || pos.left >= posTarget.left * 1 + errNum) {
						$("#msg").text("どこいくねん");
                    } else {
						$("#msg").text("...");
					}

                }
            });
        });

        function checkPass() {
            $.ajax({
                url: '/login',
                method: 'post',
                data: {
                    id: $("#textId").val(),
                    pass: $("#textPass").val(),
                    mode: "loginCheck"
                },
                dataType: 'json',
                success: function (data) {
                    if (data["result"] == "NG") {
                        var $ele = $(".alert_msg");
                        $ele.show();
                        $ele.text(data["msg_face"]);
                    } else {
                        load(data["msg_face"]);
                        location.href = "/categoryList";
                    }
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('error!!!');
                    console.log("XMLHttpRequest : " + XMLHttpRequest.status);
                    console.log("textStatus     : " + textStatus);
                    console.log("errorThrown    : " + errorThrown.message);
                    $.unblockUI();
                }
            });
        }

        function moveTalk() {
            location.href = "/categoryList";
        }

        function load(msg) {
            $("#div_msg").text(msg);
            $.blockUI({ message: $('#div_msg') });
        }
    </script>
</head>

<body>
    <div class="main" style="width: 800px;height:auto;">
        <div id="first_login" style="width:800px">
            <div id="box" style="display: none;">

                <div style="flex:1;margin:0px 0px 0px 0px;">
                    <header style="width:450px;">
                        Login
                    </header>
                    <div class="" style="margin-bottom:10px">
                        <div class="alert_msg">

                        </div>
                        <table>
                            <tr>
                                <td>
                                    <input type="text" id="textId" class="" placeholder="ID" style="width:450px;height:60px;font-size:45px;" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="textPass" class="" placeholder="PASSWORD" style="width:450px;height:60px;font-size:45px;" autocomplete="off">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button id="buttonLogin" onclick="load('check...');" class="btn btn-primary">ログイン</button>
                </div>
                <div style="flex:2;">
                    <img src="/pic/<%=picPath%>" alt="" title="" style="width:300px;height:300px" />
                </div>
             </div>
        </div>
        <div id="second_login" style="display:none">
            <header style="width:450px;">
                Login
            </header>
            <div style="position:relative">
                <img id="target" src="/pic/<%=picPath1%>" alt="" title="" style="width:300px;height:300px" />
                <img id="hontai" src="/pic/<%=picPath2%>" alt="" title="" style="width:300px;height:300px" />
                <span id="msg" style="position:absolute; left:240px;top:150px;border-radius: 50%;background-color:#FFFFFF;border:double #32a1ce; padding:8px">...</span>
            </div>
        </div>
    </div>

    <div id="div_msg" style="display:none">
    </div>
</body>
</html>